--extra-index-url https://download.pytorch.org/whl/cu121
pybind11==2.13.4
diffusers==0.30.0
einops==0.8.0
opencv-python-headless==4.10.0.84
numpy==1.24.4
torch==2.5.1
transformers==4.46.0
torchvision==0.20.1
tqdm==4.66.5
trimesh==4.4.7
pymeshlab==2022.2.post3
pygltflib==1.16.3
xatlas==0.0.9
accelerate==1.1.1
rembg==2.0.65
onnxruntime==1.16.3
open3d==0.18.0
scipy==1.14.1
realesrgan==0.3.0
basicsr==1.4.2
scikit-image==0.24.0
imageio==2.36.0
timm
safetensors==0.4.4
omegaconf==2.3.0
pyyaml==6.0.2
cupy-cuda12x==13.0.0
huggingface-hub==0.30.2
requests==2.31.0
pytorch-lightning==2.2.5
wandb
tensorboard

